.card {
  width: 18rem;
  margin: 2px;
}
.app h1 {
  /* width: 100%; */
  background-color: grey;
  font-size: xx-large;
  padding: 5px;
}

.main {
  display: flex;
}

.app {
  /* background-color: rgb(232, 222, 222); */
  width: 60rem;
  /* height: 40rem; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  flex-direction: column;
}
